@media only screen and (min-width:768px){
    .grid-area{
        grid-template-columns: 1.5fr 1.5fr;
    }

    p{
        font-size: 1.2em;
        line-height: 128%;
    }
    .dp-container {
        width: 90%;
        margin: auto;
        height: 812px;
    }

    .dp-cont-radius-l{
        border-radius: 9px 9px 9px 9px;
        padding: 1%;
        border: 1px solid #6C91C2;
    }
    
    .dp-cont-radius-r{
        border-radius: 9px 9px 9px 9px;
        padding: 1%;
        border: 1px solid #6C91C2;
    }

    .img-container {
        height: auto;
        width: 62%;
    }
}