h1,h2,h3,h4,h5,h6{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #373F47;
}

p,a,li{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    max-width: 800px;
    margin: auto !important;
}

.header-style{
    background-color: #6C91C2;
    text-align: center;
}

.header-style{
    margin-top: 20%;
    padding: 1%;
}
footer {
    background-color: #C3C9E9;
    text-align: center;
    padding: 1px;
}

.profile-pic-styles{
    width: 20%;
    border: 1px solid #6C91C2;
    border-radius: 0 25px 25px 0;
    padding: 1%;
}
.profile-pic-styles img{
    width: 100%;
    
}

.personal-info-style{
    border: 1px solid #6C91C2;
    width: 80%;
    border-radius: 25px 0 0 25px;
}


.personal-info-style ul li{
    font-size: 1.2em;
    list-style-type:none;
}

.personal-info-style ul li a{
    text-decoration: none;
}


.personal-info-style h2{
    text-decoration: underline;
    margin-left: 6%;
}

.flex-two-col{
    margin: 1%;
    display: flex;
}
