@media (min-width:1024px){
    header{
        padding: 2% 0;
    }
    header:nth-child(1) h1 {
        font-size: 3.3em;
    }
    header:nth-child(1) h3 {
        font-size: 1.1em;
    }
    #topNav ul li a {
        font-size: 1.1em;
    }
    h2{
        font-size: 2em;
    }

    main{
        font-size: 1.3em;
    }

    .weather-summary{
        top: 115px;
        height: 106px;
    }
    .weather-summary h3,.weather-summary p{
        font-size: 1rem;
    }
    .article-container{
        padding: 2% 5%;
    }
    .float-image{
        display: block;
        width: 25%;
        float: right;
        margin: 0 3%;
    }
    .article-pic-container{
        display: none;
    }
    .article-container p {
        line-height: 29px;
    }

    .contact-section > div{
        font-size: .8em;
    }
    
    .contact-section div,.contact-section ul{
        margin-left: 2%;
        margin-right: 2%;
    }

    /* .forcast{
        display: flex;
        padding: 0 15%;
    }
    .forcast div{
        width: 20%;
        border: 1px solid #fabd00;
        margin: 0.3%;
        height: 130px;
    }

    .forcast div h5{
        margin: 0;
        margin-bottom: 9%;
        padding: 11% 0;
        background-color: #fabd00;
        color: white;
    }

    .forcast div span{
        color: #4ebac4;
    }
    .forcast div p{
        margin: 0;
        font-size: 1.1rem;

    } */

    .forecast{
        display: flex;
    }
    
}